/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 999999 version,not dead
*/

.app-footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  border-top: 1px solid var(--color-border);
  padding: 10px 12px;
  color: var(--color-text-secondary);
  background: var(--color-bg-main);
  font-size: 12px;
}

.footer-text {
  text-align: center;
}
