/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 999999 version,not dead
*/

.avatar {
  width: var(--avatar-size, 38px);
  height: var(--avatar-size, 38px);
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  background: var(--color-bg-hover);
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: 700;
  color: var(--color-primary);
  overflow: hidden;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  position: relative;
}

.avatar-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.avatar-initial {
  font-weight: 700;
  color: var(--color-primary);
}
