services:
  server:
    build:
      context: .
      dockerfile: src/server/Dockerfile
  
  client:
    build:
      context: .
      dockerfile: src/client/Dockerfile

  gtest:
    build:
      context: .
      dockerfile: tests/Dockerfile
