/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 999999 version,not dead
*/

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0 10px 10px 10px;
  background-color: var(--color-bg-main);
  border: 1px solid var(--color-border);
  border-top: none;
  -webkit-border-radius: 0 0 8px 8px;
     -moz-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
  margin-top: -1px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 60px;
}

.search-dropdown-placeholder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 60px;
}

.search-dropdown-item.active {
  background-color: var(--color-bg-accent);
  color: var(--color-text-primary);
}
