/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 999999 version,not dead
*/

.search-dropdown-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  color: var(--color-text-primary);
  min-width: 100%;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  font-size: 14px;
  -webkit-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.search-dropdown-item:first-child {
  padding-top: 16px;
}

.search-dropdown-item:last-child {
  padding-bottom: 16px;
}

.search-dropdown-item:hover {
  background-color: var(--color-bg-hover);
}