.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.logo {
  width: 40px;
  height: 40px;
  filter: drop-shadow(200vw 0 0 var(--color-primary));
  transform: translateX(-200vw);
}

.logo:hover {
  transform: scale(1.02);
  transition: transform 0.1s;
}
