.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo:hover {
  transform: scale(1.02);
  transition: transform 0.1s;
}