/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 999999 version,not dead
*/

.logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.logo {
  width: 40px;
  height: 40px;
  -webkit-filter: drop-shadow(200vw 0 0 var(--color-primary));
          filter: drop-shadow(200vw 0 0 var(--color-primary));
  -webkit-transform: translateX(-200vw);
     -moz-transform: translateX(-200vw);
       -o-transform: translateX(-200vw);
          transform: translateX(-200vw);
}

.logo:hover {
  -webkit-transform: scale(1.02);
     -moz-transform: scale(1.02);
       -o-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  -o-transition: -o-transform 0.1s;
  -moz-transition: transform 0.1s, -moz-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s, -moz-transform 0.1s, -o-transform 0.1s;
}
