/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 999999 version,not dead
*/

.file-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
          justify-content: flex-end;
  gap: 6px;
}

.file-action-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  -webkit-border-radius: 9999px;
     -moz-border-radius: 9999px;
          border-radius: 9999px;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  cursor: pointer;
  color: var(--color-text-secondary);
  -webkit-transition: background-color 120ms ease, color 120ms ease;
  -o-transition: background-color 120ms ease, color 120ms ease;
  -moz-transition: background-color 120ms ease, color 120ms ease;
  transition: background-color 120ms ease, color 120ms ease;
}

.file-action-btn svg {
  pointer-events: none;
  display: block;
}

.file-action-btn:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-text-primary);
}

.file-action-btn-hover {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 120ms ease;
  -o-transition: opacity 120ms ease;
  -moz-transition: opacity 120ms ease;
  transition: opacity 120ms ease;
}

.file-row:hover .file-action-btn-hover {
  opacity: 1;
  pointer-events: auto;
}

.file-row:hover .file-action-btn-hover:disabled {
  opacity: 0.5;
}

.file-action-btn-starred {
  color: var(--color-icon-starred);
}

.file-action-btn-starred:hover {
  color: var(--color-icon-starred-hover);
}

.file-action-btn:disabled {
  cursor: not-allowed;
}

.file-action-btn:disabled:hover {
  background-color: transparent;
  color: var(--color-text-secondary);
}

.files-table th.col-actions {
  width: 12%;
  text-align: right;
  padding-right: 16px;
}
