/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 999999 version,not dead
*/

.search-bar {
  position: relative;
}

.search-bar.open {
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
  
.search {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  background-color: var(--color-bg-main-alt);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  border: 1px solid var(--color-border);
  padding: 0 20px;
  font-size: 16px;
  color: var(--color-text-primary);
  outline: none;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.search-bar.open .search {
  background-color: var(--color-bg-main);
  -webkit-border-radius: 8px 8px 0 0;
     -moz-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
  border-bottom: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.search:focus {
  background-color: var(--color-bg-main);
}

.search::-webkit-input-placeholder {
  color: var(--color-text-secondary);
}

.search:-moz-placeholder {
  color: var(--color-text-secondary);
}

.search::-moz-placeholder {
  color: var(--color-text-secondary);
}

.search::-ms-input-placeholder {
  color: var(--color-text-secondary);
}

.search::placeholder {
  color: var(--color-text-secondary);
}