.search-bar {
  position: relative;
}

.search-bar.open {
  border-radius: 8px;
}
  
.search {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  background-color: var(--color-bg-main-alt);
  border-radius: 8px;
  border: 1px solid var(--color-border);
  padding: 0 20px;
  font-size: 16px;
  color: var(--color-text-primary);
  outline: none;
  transition: background-color 0.2s;
}

.search-bar.open .search {
  background-color: var(--color-bg-main);
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  box-shadow: none;
}

.search:focus {
  background-color: var(--color-bg-main);
}

.search::placeholder {
  color: var(--color-text-secondary);
}