:root {
  /* light theme colors */
  /* main surface (button background) */
  --color-light-surface: #f8f9fa;
  /* slightly darker for hover states */
  --color-light-surface-hover: #e8eaed;
  /* borders / dividers */
  --color-light-border: #dadce0;

  /* text / icons */
  --color-light-text-primary: #202124; /* almost black */
  --color-light-text-secondary: #5f6368; /* medium grey */
  --color-light-text-disabled: #b0b3b8; /* light grey */

  /* accents */
  --color-light-accent-main: #fb8c00; /* sunset orange */
  --color-light-accent-hover: #f57c00; /* darker orange */

  --color-light-error-text: #ff3f3f;
  --color-light-error-secondary: #fae8e9;

  /* dark theme colors */
  /* main surface (button background) */
  --color-dark-surface: #303134;
  /* slightly lighter for hover states */
  --color-dark-surface-hover: #3c4043;
  /* borders / dividers */
  --color-dark-border: #5f6368;

  /* text / icons */
  --color-dark-text-primary: #e8eaed; /* off-white */
  --color-dark-text-secondary: #9aa0a6; /* light grey */
  --color-dark-text-disabled: #77797d; /* dim grey */

  /* accents */
  --color-dark-accent-main: #fb8c00; /* sunset orange */
  --color-dark-accent-hover: #ffb74d; /* lighter orange */

  --color-dark-error-text: #ff3f3f;
  --color-light-error-secondary: #fae8e9;
}
