/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 999999 version,not dead
*/

.card {
  padding: 40px;
  background-color: var(--color-bg-main);
  -webkit-border-radius: 14px;
     -moz-border-radius: 14px;
          border-radius: 14px;
  opacity: 0;
  -webkit-transform: scaleY(0);
     -moz-transform: scaleY(0);
       -o-transform: scaleY(0);
          transform: scaleY(0);
  pointer-events: none;
  -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out, -o-transform 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, -moz-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out, -moz-transform 200ms ease-in-out, -o-transform 200ms ease-in-out;
}

.card h2 {
  text-align: center;
  color: var(--color-text-primary);
}

.card.open {
  opacity: 1;
  -webkit-transform: scaleY(1);
     -moz-transform: scaleY(1);
       -o-transform: scaleY(1);
          transform: scaleY(1);
  pointer-events: auto;
}

.card.closed {
  opacity: 0;
  -webkit-transform: scaleY(0);
     -moz-transform: scaleY(0);
       -o-transform: scaleY(0);
          transform: scaleY(0);
  pointer-events: none;
}

.sign-layout .card {
  width: 100%;
  max-width: 500px;
}

.get-text-modal.card {
  width: auto;
  min-width: 400px;
  max-width: 600px;
  padding: 0;
}
