.card {
  padding: 40px;
  background-color: var(--color-bg-main);
  border-radius: 14px;
  opacity: 0;
  transform: scaleY(0);
  pointer-events: none;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.card h2 {
  text-align: center;
  color: var(--color-text-primary);
}

.card.open {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}

.card.closed {
  opacity: 0;
  transform: scaleY(0);
  pointer-events: none;
}

.sign-layout .card {
  width: 100%;
  max-width: 500px;
}

.get-text-modal.card {
  width: auto;
  min-width: 400px;
  max-width: 600px;
  padding: 0;
}
