.file-row {
  height: 56px;
  border-bottom: 1px solid var(--color-border);
  cursor: pointer;
  transition: background-color 120ms ease;
}

.file-row:hover {
  background-color: var(--color-bg-hover);
}

.file-row td {
  padding: 0 16px;
  vertical-align: middle;
  font-size: 14px;
  color: var(--color-text-muted);
  white-space: nowrap;
}

.col-name {
  padding-left: 24px;
  width: 42%;
  font-weight: 600;
  color: var(--color-text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
  flex-shrink: 0;
}

.col-owner {
  width: 18%;
  color: var(--color-text-secondary);
}

.col-modified {
  width: 18%;
  color: var(--color-text-secondary);
}

.col-size {
  width: 10%;
  text-align: right;
  color: var(--color-text-secondary);
}

.col-actions {
  width: 12%;
  padding-right: 16px;
  text-align: right;
}


