/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 999999 version,not dead
*/

.file-row {
  height: 56px;
  border-bottom: 1px solid var(--color-border);
  cursor: pointer;
  -webkit-transition: background-color 120ms ease;
  -o-transition: background-color 120ms ease;
  -moz-transition: background-color 120ms ease;
  transition: background-color 120ms ease;
}

.file-row:hover {
  background-color: var(--color-bg-hover);
}

.file-row td {
  padding: 0 16px;
  vertical-align: middle;
  font-size: 14px;
  white-space: nowrap;
}

.file-row-loading {
  color: var(--color-text-muted);
}

.col-name {
  padding-left: 24px;
  width: 42%;
  font-weight: 600;
  color: var(--color-text-secondary);
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.col-owner {
  width: 18%;
  color: var(--color-text-secondary);
}

.col-modified {
  width: 18%;
  color: var(--color-text-secondary);
}

.col-size {
  width: 10%;
  color: var(--color-text-secondary);
}

.col-actions {
  width: 12%;
  padding-right: 16px;
  text-align: right;
}


